<div class="recorder">
  <div ></div>
  <div >
    <button
      class="start-button"
      *ngIf="!isAudioRecording && !audioBlobUrl"
      (click)="startAudioRecording()"
    >
      Record
    </button>
    <button
      class="stop-button"
      *ngIf="isAudioRecording && !audioBlobUrl"
      (click)="stopAudioRecording()"
    >
      Stop Recording
    </button>
    <div>
      <div id="audioTimer" *ngIf="isAudioRecording && !audioBlobUrl">
        {{ audioRecordedTime }}
      </div>
      <audio *ngIf="!isAudioRecording && audioBlobUrl" class="audio-player" controls>
        <source [src]="audioBlobUrl" type="audio/mp3" />
      </audio>
    </div>
    <button
      class="cancel-button"
      *ngIf="!isAudioRecording && audioBlobUrl"
      (click)="clearAudioRecordedData()"
    >
      Clear Recording
    </button>
    <button
      class="download-button"
      *ngIf="!isAudioRecording && audioBlobUrl"
      (click)="downloadAudioRecordedData()"
    >
      Download Recording
    </button>
  </div>
</div>
<div></div>
