.recorder{
    display: flex;
    background-color: #c1b6db;
    align-items: center;
    justify-content: center;
}

.start-button, .download-button {
    background-color: green; 
    border: none;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .stop-button {
    background-color:#FF0000; 
    border: none;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .cancel-button {
    background-color:black; 
    border: none;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

  }

  .audio-player {
    text-align: center;
    display: inline-block;
    padding: 10px 25px;
    margin-left: 40px;
  }
